@import "tailwindcss";
/* USING APPLY== tailwind, without it is regular css*/
@custom-variant dark (&:where(.dark, .dark*));

/* let user toggle dark mode if you have a button to toggle */

@theme {
  --color-myColor: #f3b699;
}
/* components are for classes */
@layer components {
  .card {
    @apply m-10 flex justify-center rounded-lg bg-green-200;
  }
  .mybtn {
    @apply transform rounded-lg bg-gradient-to-r from-blue-200 
            to-blue-700 px-6 py-3 
            font-semibold 
            text-white shadow-md transition duration-300 
            ease-in-out hover:scale-105 
            hover:from-blue-700 hover:to-blue-200 focus:ring focus:ring-purple-300 
            focus:outline-none active:bg-blue-700;
  }
  .regbtn {
    @apply bg-blue-400;
  }
  .btn {
    @apply bg-white border-blue-400 border-2 rounded-lg;
  }
}
/* base are for tags (h1, p, button ) */
@layer base {
  h3 {
    @apply text-base text-purple-700;
  }
  /* button {
    @apply transform rounded-lg bg-gradient-to-r from-blue-200 
            to-blue-700 px-6 py-3 
            font-semibold 
            text-white shadow-md transition duration-300 
            ease-in-out hover:scale-105 
            hover:from-blue-700 hover:to-blue-200 focus:ring focus:ring-purple-300 
            focus:outline-none active:bg-blue-700;
  } */
  button {
    border: 1px solid #999; /* gray border */
    background-color: #f0f0f0; /* light gray background */
    /* padding: 0.375rem 0.75rem; some padding */
    font-size: 1rem; /* normal font size */
    color: #000; /* black text */
    border-radius: 4px; /* slightly rounded corners */
    cursor: pointer; /* pointer cursor on hover */
    user-select: none; /* prevent text selection */
    outline: none;
  }

  input {
    @apply border-2 border-blue-500 mx-1;
  }
}

@utility flex-center {
  @apply flex items-center justify-center flex-col;
}
